<!DOCTYPE html>
<html>

<head>
  <title>ERROR | FuadXyro - CDN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
      transition: all 0.6s;
    }

    html {
      height: 100%;
    }

    body {
      background: url("../assets/img/bg.gif") no-repeat;
      font-family: 'Poppins', sans-serif;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      color: #ffffff;
      margin: 0;
    }

    #main {
      display: table;
      width: 100%;
      height: 100vh;
      text-align: center;
    }

    .fof {
      display: table-cell;
      vertical-align: middle;
    }

    .fof h1 {
      font-size: 50px;
      display: inline-block;
      padding-right: 12px;
      animation: type .5s alternate infinite;
    }

    @keyframes type {
      from {
        box-shadow: inset -3px 0px 0px #888;
      }

      to {
        box-shadow: inset -3px 0px 0px transparent;
      }
    }
  </style>
</head>

<body>
  <div id="main">
    <div class="fof">
      <h1>Error 404</h1>
    </div>
  </div>
</body>

</html>