<!DOCTYPE html>
<html>

<head>
  <title>Data | FuadXyro CDN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="CDN kami dapat menyimpan file dalam format MP3, MP4, Image, File. kami juga memiliki batas maximal size file dan expired penyimpanan file pada server kami, untuk batas maximal file kami menawarkan 20mb dan untuk expired hanya 5 jam sampai file anda dapat bertahan di server kami">
  <meta name="author" content="FuadXyro">
  <meta name="keywords" content="FuadXyro CDN, CDN, CDN Free, Xyra, Hosting Media">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#9D00EC">
  <meta name="copyright" content="FuadXyro">
  <meta property="og:site_name" content="FuadXyro CDN" />
  <meta property="og:title" content="Data | FuadXyro CDN">
  <meta property="og:description"
    content="CDN kami dapat menyimpan file dalam format MP3, MP4, Image, File. kami juga memiliki batas maximal size file dan expired penyimpanan file pada server kami, untuk batas maximal file kami menawarkan 20mb dan untuk expired hanya 5 jam sampai file anda dapat bertahan di server kami">
  <meta property="og:image" content="https://i.ibb.co/TxPSwNjX/favicon.jpg">
  <meta property="og:url" content="https://cdn.cylic.biz.id">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Nexon_CDN">
  <meta name="twitter:title" content="Data | FuadXyro CDN">
  <meta name="twitter:description"
    content="CDN kami dapat menyimpan file dalam format MP3, MP4, Image, File. kami juga memiliki batas maximal size file dan expired penyimpanan file pada server kami, untuk batas maximal file kami menawarkan 20mb dan untuk expired hanya 5 jam sampai file anda dapat bertahan di server kami">
  <meta name="twitter:image" content="https://i.ibb.co/TxPSwNjX/favicon.jpg">
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/style3.css">
</head>

<body>
  <div class="upload-area" id="uploadArea">
    <h1>File Actions</h1>
    <div id="filePreview"></div><br>
    <button onclick="copyLink('https://cdn.cylic.biz.id/<%= filename %>')">Copy Link</button>
    <button onclick="window.open('/<%= filename %>/')">Open file</button>
  </div>
  <footer>
    &copy; 2024 FuadXyro CDN. All rights reserved. by <a href="https://github.com/FuadXyro"><b>FuadXyro</b></a>
  </footer>
  <script>
    const url = '/<%= filename %>';
  </script>
  <script src="../assets/js/script2.js"></script>
</body>

</html>
